
.body {
    box-sizing: border-box;
}
.container {
    width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #282C2F;
    height: 60px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    height: 60px;
}

.logo {
    width: 200px;
}

.header__nav {
    gap: 50px;
}

.header__nav a:not(:last-child)::after {
    content: ' | ';
    color: white;
}

.header__nav > a {
    color: white;
}

.header__nav a:hover {
    color: #7E7E7E;
}

.search {
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0px 10px 40px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
}

.search__tire {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 40px;
    
}

input{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-weight: 10;
    font-size: 14px;
    line-height: 20px;
    color: #030D15;
    opacity: 0.8;
    width: 50px;
}

select {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.34);
    font-style: normal;
    font-weight: 40;
    font-size: 14px;
    line-height: 20px;
    color: #030D15;
    opacity: 0.8;    
}

.submit {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #030D15;
    opacity: 0.8;   
    width: 50px;
}
.content .container {
    margin-top: 20px;
}
.item {

}

.item__visible {
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    background-color: rgb(207, 207, 207);
    padding: auto;
    grid-column-gap: 5px;
    border: 1px solid #eee;
    padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(78, 78, 78);
}

.item__hide {
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    padding: auto;
    grid-column-gap: 5px;
    border: 1px solid #eee;
    padding: 5px;
	background: #f0f0f03f;
	border: 1px solid #eeeeee;
    font-family: 'Golos Text', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: rgb(78, 78, 78);
    display: none;
}

.item:hover .item__hide {
    display: grid;
}

.content__tovar {
    display: flex;
    flex-flow: column;
    gap: 2px;
}





@media screen and (max-width: 767px){
    .item__visible {
        font-size: 10px;
        grid-template-columns: 60% 5% 5% 5% 25%;
    }
    .item__hide {
        font-size: 9px;
        grid-template-columns: 60% 5% 5% 5% 25%;
    }
    .search__tire {

    }
    .search__tire_mobile_hide {
        display: none;
    }
    .header__nav {
        display: none;
    }
}


@media screen and (max-width: 575px){

} 